*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(0, 0%, 95%);
}

main{
    
    width: 100vw;
    height: 100vh;
    display: table;
}

section{
    margin: 20vh 20vw 20vh 20vw;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: white;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: white;

}

button{
    background-color: hsla(0, 0%, 100%, 0.75);
    width: 120px;
    height: 40px;
    border-radius: 60px;
    border: none;
}

.article1{
    background-color:hsl(31,77%,52%);
    }

.article2{
    background-color: hsl(184, 100%, 22%);
}

.article3{
    background-color: hsl(179, 100%, 13%);
}